style.css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Load Magic Twilight */
@font-face {
  font-family: 'Magic Twilight';
  src: url('../fonts/MagicTwilight-Regular.ttf') format('truetype'),
       url('../fonts/MagicTwilight-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1 {
    font-family: 'Magic Twilight';
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.6
}

h2 {
    font-family: 'Magic Twilight';
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.4;
}

h3 {
    font-family: 'Kanit';
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
}

h4 {
    font-family: 'Kanit';
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.6;
}

h5 {
   font-family: 'Kanit';
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.6; 
}

body {
    font-family: 'Kanit', -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #000000;
    overflow-x: hidden;
}


.copy-container {
    max-width: 900px;
}

.page-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin: 2rem 2 rem;
}

/* Project 1 Styles */
#project-1 {
    background-color: #3d1386;
}

h1#project-1 {
    color: #f3c758;
}

h2#project-1 {
    color: #f3c758;
}

h3#project-1 {
    color: #f3c758;
}

h4#project-1 {
    color: #f3c758;
}

.button-project-1 {
    background-color: #3d1386;
}

/* Project 2 Styles */
#project-2 {
    background-color: #306600;
}

h1#project-2 {
    color: #B8D2FF;
}

h2#project-2 {
    color: #B8D2FF;
}

h3#project-2 {
    color: #B8D2FF;
}

h4#project-2 {
    color: #B8D2FF;
}

.button-project-2 {
    background-color: #306600;
}

/* Project 3 Styles */
#project-3 {
    background-color: #73264A;
}

h1#project-3 {
    color: #CCFFF5;
}

h2#project-3 {
    color: #CCFFF5;
}

h3#project-3 {
    color: #CCFFF5;
}

h4#project-3 {
    color: #CCFFF5;
}

.button-project-3 {
    background-color: #73264A;
}