style.css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Load Magic Twilight */
@font-face {
  font-family: 'Magic Twilight';
  src: url('/fonts/MagicTwilight-Regular.ttf') format('truetype'),
       url('/fonts/MagicTwilight-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1 {
    font-family: 'Magic Twilight';
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.6
}

h2 {
    font-family: 'Magic Twilight';
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.4;
}

h3 {
    font-family: 'Kanit';
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
}

h4 {
    font-family: 'Kanit';
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.6;
}

h5 {
   font-family: 'Kanit';
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.6; 
}

body {
    font-family: 'Kanit', -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(to bottom, #f5f5dc, #ffffff); /* Beige to white gradient */
    min-height: 100vh;
    overflow-x: hidden;
}


.copy-container {
    max-width: 900px;
}

.page-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin: 2rem 2 rem;
}

/* Project 1 Styles */
body#project-1 {
    background-color: #3d1386;
}

.project-1 h1, h2, h3, h4 {
    color: #f3c758;
}

.button-project-1 {
    background-color: #3d1386;
}

/* Project 2 Styles */
body#project-2 {
    background-color: #306600;
}

.project-2 h1, h2, h3, h4 {
    color: #B8D2FF;
}

.button-project-2 {
    background-color: #306600;
}

/* Project 3 Styles */
body#project-3 {
    background-color: #73264A;
}

.project-3 h1, h2, h3, h4 {
    color: #CCFFF5;
}

.button-project-3 {
    background-color: #73264A;
}