* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Load Magic Twilight */
@font-face {
  font-family: 'Magic Twilight';
  src: url('../fonts/MagicTwilight-Regular.ttf') format('truetype'),
       url('../fonts/MagicTwilight-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1 {
    font-family: 'Magic Twilight';
    font-size: 3rem;
    font-weight: normal;
    line-height: 1.6
}

h2 {
    font-family: 'Magic Twilight';
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1.4;
}

h3 {
    font-family: 'Kanit';
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.4;
}

h4 {
    font-family: 'Kanit';
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.6;
}

h5 {
   font-family: 'Kanit';
    font-size: 1.5rem;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 1.6; 
}

body {
    font-family: 'Kanit', -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #000000;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
}

.copy-container {
    max-width: 900px;
    width: 100%;
    margin: 2rem auto;
    padding: 0 48px;
}

.page-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin: 2rem 48px;
}
