#project-1 {
    background-color: #3d1386;
}

h1#project-1 {
    color: #f3c758;
}

h2#project-1 {
    color: #f3c758;
}

h3#project-1 {
    color: #f3c758;
}

h4#project-1 {
    color: #f3c758;
}

.button-project-1 {
    background-color: #3d1386;
}