#project-2 {
    background-color: #306600;
}

h1#project-2 {
    color: #B8D2FF;
}

h2#project-2 {
    color: #B8D2FF;
}

h3#project-2 {
    color: #B8D2FF;
}

h4#project-2 {
    color: #B8D2FF;
}

.button-project-2 {
    background-color: #306600;
}